In [ ]:
##Strings:
'''
Strings are sequence of Unicode characters 
1-creating strings
2-accessing strings
3-adding chars to string
4-editing strings
5-deleting strings
6-operations on strings
7-string functions
'''

In [ ]:
##difference between ascii and unicode 
##in normal computers characters are made of 8 bits(1 Byte) which has very small range.But there are many characters in other langauges

##16 bit character set is introducted that is 2 Byte that is now you can store many characters from different laguages you can store smily also

In [ ]:
##creating python strings
s='hello'
s="hello"
s='''hello'''
s="""hello"""
s=str('hello')
print(s)

hello

In [ ]:

##use of different inverted commas
## example:
'it's raining outside ##incorrect gives synatx error

"it's raining outside " ## correct

##triple inverted commas is used for multiline strings

In [ ]:
##accessing Substrings from a string

##Positive Indexing : it is from left to right
s='Hello World' ## H->0 e->1 l->2 o->3 space->4 W->5 o->6 r->7 l->8 d->9
print(s[0],s[1],s[2])
##s[41] will give error



##negative indexing : it is from right to left
s='Hello World'
print(s[-1]) ## d->-1 l->-2 r->-3 o->-4 W->-5 ...

H e l

In [ ]:
##Slicing : To extract more than one characters
s="hello world"
## [start,end)
print(s[0:0]) ## is empty string
print(s[0:1])
print(s[0:2])
print(s[0:3])
print(s[2:3])
print(s[2:]) ## string starting from index 2
print(s[:3]) ## gives string from 0 to index 3-1=2

h
he
hel
l
llo world
hel

In [25]:
##stepsize 
s='hello world'
print(s[0:5:2])
print(s[0:6:3])

##to print the string in reverse :
print(s[::-1])
print(s[6:0:-2])
print(s[6::-2])

hlo
hl
dlrow olleh
wol
wolh

In [28]:
## to print using negative indexing and print only world

s='hello world' ##d->-1 l->-2 
print(s[-5:-1])
print(s[-5:])

##to print the world in reverse
print(s[-1:-6:-1])

worl
world
dlrow

In [ ]:
##Editing string

s='hello world'
s[0]='H'
print(s)

##it means if you created a string you cannot edit it (Immutability)


##Note : python strings are immutable

TypeError: 'str' object does not support item assignment

In [31]:
##deleting string
s='hello world'
del s
print(s)   ##deletes s and now s doesn't exist so it gives error that s is not defined

NameError: name 's' is not defined

In [ ]:
s='hello world'
del s[-1:-5:-2]
print(s)
## gives error because you cannot make changes in string..
##you can delete it fully but not partially

TypeError: 'str' object does not support item deletion

In [ ]:
##operations on string
'''
1-arithematic operations
2-relational operations
3-logical operations
4-loops on string
5-membership operations
'''

In [ ]:
##arithematic operations

print('delhi'+'mumbai') ##delhimumbai. ## + acts as concatenation operator
print('delhi'*5) ##Prints delhi 5 times
print('*'*50) ##to create borders

delhimumbai
delhidelhidelhidelhidelhi
**************************************************

In [ ]:
#relational operations

print('delhi'=='mumbai')
print('delhi'!='Delhi')

print('mumbai' >'pune') ##no of characters are not compared...strings are compared lexicographically (comparing by their ascii values)

print('Pune' >'pune') ## P=80 actual value is smaller than p=112.  (Capital letters are smaller)

False
True
False
False

In [ ]:
##Logical operations
print('hello' and 'world')
print('hello' or  'world')

##if in a string there are characters then it is true according to python 
##if a string is empty then it is false 

print('hello' or '')

world
hello
hello

In [49]:
'' and 'world'

''

In [48]:
'world' and ''

''

In [51]:
not ''

True

In [52]:
not 'hello'

False

In [53]:
##loops
for i in 'hello':
    print(i)

h
e
l
l
o

In [54]:
for i in 'delhi':
    print('pune')

pune
pune
pune
pune
pune

In [ ]:

##membership operator
'D' in 'Delhi'

True

In [ ]:
##common functions
##1 - len
##2-  max
##3-  min
##4-  sorted

##these common functions work for all datatypes (list,set,string,dictionary,tuple)

In [56]:
len('hello world')  ## count length of string including the space

11

In [ ]:
max('hello world') ##finds the maximum character on the basis of ascii value

'w'

In [58]:
min('hello world')

' '

In [ ]:
sorted('apple') ## output is sorted list not string

['a', 'e', 'l', 'p', 'p']

In [60]:
sorted('priyanshu',reverse=True)

['y', 'u', 's', 'r', 'p', 'n', 'i', 'h', 'a']

In [ ]:
## String specific functions 

##1-Capitalize /Title/Upper/Lower/Swapcase

##capitalize function makes the first letter of string capital that's it ##used in database for names
s='hello world'
print(s.capitalize())

##title function sentence ke har word ka pahle character ko capital mein print kardega
print(s.title())


##Upper function makes all the characters of string uppercase and oppoisite for lower function

print(s.upper())
print('Hello WORLD'.lower())

##swapcase function makes capital letters small and small capital

print('Hello World'.swapcase())

Hello world
Hello World
HELLO WORLD
hello world
hELLO wORLD

In [ ]:
##2-Count/find/index

print('my name is nitish'.count('i')) ## counts how many i's are there in the string 

print('my name is priyanshu'.count('priyanshu'))



##find : for a given string it finds the first index of the substring in that string
print('my name is nitish'.find('is'))

##if a substring is not present in the string then find returns -1
print('my name is Priyanshu'.find('nitish'))


##index and find are same but there is one small difference.find gives -1 if substring is not present whereas index gives error

3
1
8
-1

In [75]:
print('my name is Priyanshu'.index('nitish'))

ValueError: substring not found

In [79]:
##3- endswith /startswith

##startswith-- if a string starts with a particular substring

print('my name is priyanshu'.endswith('hu'))
print('my name is priyanshu'.endswith('sh'))
print('my name is priyanshu'.startswith('m'))

True
False
True

In [83]:
##4- format function
##format


name=input("Enter the name:")
gender=input("Enter the gender:")

print("my name is {} and I am a {}".format(name,gender)) ##prints my name is priyanshu and i am a male 

## used in websites for inserting variable values

my name is nitish and I am a male

In [84]:
##we can add order in the string

print("my name is {1} and i am a {0}".format('male','priyanshu'))

my name is priyanshu and i am a male

In [85]:
##note strings are immutable
s='hello world'
print(s.capitalize())
print(s)

Hello world
hello world

In [86]:
##5 - isalnum/isalpha/isdigit/identifier

'nitish1234'.isalnum()

True

In [87]:
'priyanshu$123'.isalnum()

False

In [88]:
'priyanshu'.isalpha()

True

In [89]:
'priyanshu1234'.isalpha()

False

In [90]:
'12321323'.isdigit()

True

In [91]:
'_123'.isidentifier()

True

In [93]:
'$priu2132'.isidentifier()

False

In [ ]:
##6 - split/ join 
##split- divides a sentence into word by word and add it into a python list

'hello my name is priyanshu'.split()

['hello', 'my', 'name', 'is', 'priyanshu']

In [95]:
##if you want to split on the basis of some character not only space
'hi my name is priyanshu'.split('i')

['h', ' my name ', 's pr', 'yanshu']

In [96]:
'hi my name is priyanshu'.split('is')

['hi my name ', ' priyanshu']

In [ ]:
##join : reverse of split words ko jodke you make sentence


" ".join(['hi','my','name','is','priyanshu']) ## joining on the basis of space

'hi my name is priyanshu'

In [98]:
"-".join(["hi","my","name","is","priyanshu"]) ##joining is done by hyphen

'hi-my-name-is-priyanshu'

In [108]:
##7-replace

s='hi my name is nitish'.replace('nitish','priyanshu')
print(s)

q='hi my name is nitish'.replace('pikachu','priyanshu')
##if substring is not present it will return the same string 
print(q)

hi my name is priyanshu
hi my name is nitish

In [ ]:
##8-strip: removes all the spaces in the string
print(len("nitish.          "))
s="nitish           ".strip()
len(s)
##USED IN WEB DEV


##also it strip doesn't remove the space in between ex priyanshu      gupta so it won't remove space betweem name and surname

17

6

In [109]:
##find the length of a given string without using the len() function

s=input("Enter the string:")
cnt=0
for i in s:
    cnt+=1
print(cnt)

5

In [110]:
##extract the username from a given email.
##eg if username is nitish24singh@gmail.com then the username is nitish24singh
s=input("Enter the email:")
idx=s.find('@')

q=s[0:idx]
print(q)

priyanshugggg123

In [1]:
## count the frequency of a particular character in a provided string
##eg 'hello how are you' is the string,the frequency of h in the string is 2

s=input("Enter the string:")
c=input("enter the character whose frequency to be counted")
cnt=0
for i in s:
    if i==c:
        cnt+=1
print(cnt)
## alternate

print(s.count(c))

2
2

In [ ]:
##write a program which can remove a particular character from string

s=input("Enter the string:")
c=input("enter the character to remove")
result=''

for i in s:
    if i !=c:
        result=result+i

print(result)

In [3]:
##check if string is palindrome or not 
##abba
##malyalam

s=input('enter the range:')

for i in range(0,len(s)//2):
    if s[i]!=s[len(s)-i-1]:
        print('not palindrome')
        break
else :
    print('palindrome')

not palindrome

In [ ]:
##write a program to count the no of words in a string without split()
s=input("Enter the string:")
counter=0
for i in s:
    if i==' ':
        counter+=1

print(counter+1)

7

In [11]:
##write a program to create the list of words in a string without split()
s=input("enter the string:")
l=[]
temp=''
for i in s:
    if i!=' ':
        temp=temp+i
    else:
        l.append(temp)
        temp=''
l.append(temp)
print(l)

['hello', 'how', 'are', 'you']

In [ ]:
##note :temp = temp + i

## You are NOT modifying the existing string
## You are creating a NEW string and reassigning temp to it
##❌ This would violate immutability (NOT allowed):
## temp[0] = 'H'   # ❌ ERROR

In [16]:
##write a python program to convert string to title case without using the title() function

s=input("enter the string:")

lst=s.split()
L=[]
for i in lst:
    ## now printing the string here 
    L.append(i[0].upper()+i[1:].lower())
print(L)

['Hello', 'How', 'Are', 'You']

In [19]:
##write a program that can convert an integer to string

number=int(input("enter the number:"))
digits='0123456789'

result=''

while number!=0:
    num=number%10
    result=digits[num]+result
    number=number//10

print(result)

4332